<!doctype html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <title>UA - Lista de usuarios</title>
    </head>
    <body>
        <header>
            <div class="encabezado boton"><a href="aviones">Aviones</a></div>
            <div class="encabezado" id="titulo"><a href="/">Uncharted Airlines</a></div>
            <div class="encabezado boton"><a href="usuarios">Usuarios</a></div>
        </header>

        <!-- Listado -->
        <div name="listadoDB" id="tablaLista">
            <h5>Lista de Usuarios <span class="badge badge-light"><%= usuarios.length%></span></h5>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Pasaporte</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Nacionalidad</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < usuarios.length; i++) { %>
                  <tr>
                    <td><%= usuarios[i].pasaporte %></td>
                    <td><%= usuarios[i].nombre %></td>
                    <td><%= usuarios[i].apellido %></td>
                    <td><%= usuarios[i].telefono %></td>
                    <td><%= usuarios[i].correo %></td>
                    <td><%= moment(usuarios[i].fecha_nacimiento).format('Do MMMM, YYYY'); %></td>
                    <td><%= usuarios[i].direccion %></td>
                    <td><%= usuarios[i].sexo %></td>
                    <td><%= usuarios[i].nacionalidad %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <a href="usuarios"><button type="button" class="btn btn-primary" id="botonRegresar">Regresar</button></a>
        </div>
        
        <% include partials/scripts.ejs %>
    </body>
</html>